html.dashed {
  height: 550px;
  margin: 5 auto;
  width: 350px;
  border: 3px dashed black;
  padding: 2px;
  background: grey;
  
}

h1 {
  font-family: Georgia;
  font-size: 48px;
  color: blue;
  
}

h2 {
font-size: 32px;
  font-family: Palatino, 'Palatino Linotype', serif;
  
}

h3 {
  font-size: 28px;
  
}
