.dashed {
   height: 1950px;
  margin: 15px auto;
  width: 850px;
  padding: 2px;
  background: #ccffcc;
  border: dashed 3px black;
}

h1 {
  font-family: Georgia;
  font-size: 48px;
  color: red;
  
}

h2 {
font-size: 32px;
  font-family: Palatino, 'Palatino Linotype', serif;
color:blue;
  
}

h3 {
  font-size: 28px;
  
}
p {
  font-size: 22px;
  
}
